{% extends "base.html" %}

{% block content %}

<!-- Total Students -->
<h2 class="mb-4">📊 Student Dashboard</h2>

<!-- DASHBOARD CARDS -->
<div class="row mt-3">

    <!-- Total Students -->
    <div class="col-md-4">
        <div class="card text-white bg-primary shadow">
            <div class="card-body text-center">
                <h5>Total Students</h5>
                <h2>{{ total_students }}</h2>
            </div>
        </div>
    </div>

    <!-- Total Subjects -->
    <div class="col-md-4">
        <div class="card text-white bg-success shadow">
            <div class="card-body text-center">
                <h5>Total Subjects</h5>
                <h2>{{ total_subjects }}</h2>
            </div>
        </div>
    </div>

    <!-- Class Average -->
    <div class="col-md-4">
        <div class="card text-white bg-warning shadow">
            <div class="card-body text-center">
                <h5>Class Average</h5>
                <h2>{{ avg_marks|default(0)|round(2) }}</h2>
            </div>
        </div>
    </div>

</div>

<!-- QUICK ACTION BUTTONS -->
<div class="text-center mt-5">

    <a href="/add_student" class="btn btn-primary m-2">➕ Add Student</a>

    <a href="/view_students" class="btn btn-success m-2">📋 View Students</a>

</div>

{% endblock %}