{% extends "base.html" %}

{% block content %}

<h2>Student Performance</h2>

<div class="card p-3 shadow mt-3">

    <h4>Name: {{ student.name }}</h4>
    <h5>Class: {{ student.class }}</h5>

</div>

<br>

<h4>Marks List</h4>

{% if marks %}

<table class="table table-bordered table-striped">

    <tr class="table-dark">
        <th>Subject</th>
        <th>Marks</th>
    </tr>

    {% for m in marks %}
    <tr>
        <td>{{ m.subject }}</td>
        <td>{{ m.marks }}</td>
    </tr>
    {% endfor %}

</table>

{% else %}
<p class="text-danger">No marks added yet</p>
{% endif %}

<br>

<div class="card p-3 shadow">

    <h4>Average Marks</h4>

    <h2 class="text-success">{{ avg }}</h2>

</div>

<br>

<a href="/view_students" class="btn btn-secondary">Back</a>

<a href="/charts/{{ student.id }}" class="btn btn-primary">
    View Chart
</a>

{% endblock %}