{% extends "base.html" %}

{% block content %}

<h2>Add Marks</h2>

<div class="card p-4 shadow mt-3" style="max-width: 500px;">

    <form method="POST">

        <div class="mb-3">
            <label class="form-label">Subject</label>
            <input type="text" name="subject" class="form-control" placeholder="Enter subject" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Marks</label>
            <input type="number" name="marks" class="form-control" placeholder="Enter marks" required>
        </div>

        <button type="submit" class="btn btn-success">Save Marks</button>

        <a href="/view_students" class="btn btn-secondary">Back</a>

    </form>

</div>

{% endblock %}