{% extends "base.html" %}

{% block content %}

<h2>Students List</h2>
{% if message %}
<div class="alert alert-warning mt-3">
    {{ message }}
</div>
{% endif %}

<form method="GET" action="/view_students" class="mb-3">

    <input type="text"
           name="search"
           class="form-control"
           placeholder="Search student by name..."
           value="{{ search if search else '' }}">

    <button class="btn btn-primary mt-2">Search</button>

</form>

<table class="table table-bordered table-striped mt-3">

    <tr class="table-dark">
        <th>ID</th>
        <th>Name</th>
        <th>Class</th>
        <th>Actions</th>
    </tr>

    {% for student in students %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.class }}</td>
        <td>

            <a class="btn btn-sm btn-primary" href="/add_marks/{{ student.id }}">Marks</a>

            <a class="btn btn-sm btn-info" href="/student/{{ student.id }}">View</a>

            <a class="btn btn-sm btn-warning" href="/edit_student/{{ student.id }}">Edit</a>

            <a class="btn btn-sm btn-danger"
               href="/delete_student/{{ student.id }}"
               onclick="return confirm('Are you sure?')">
               Delete
            </a>

        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}